<h1>Add a new Vehicle to the list!</h1>
<form action="/vehicles" method="post">
  <div class="form-group">
    <label for="add_make">Please enter the Make of the vehicle</label>
    <input type="text" id="add_make" name="add_make" class = "form-control">
    <label for="add_model">Please enter the Model of the vehicle</label>
    <input type="text" id="add_model" name="add_model" class = "form-control">
    <label for="add_year">Please enter the Year of the vehicle</label>
    <input type="text" id="add_model" name="add_year" class = "form-control">
  </div>
  <button id="submit_vehicle" class="btn-primary btn">Submit</button>
</form>
