<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Find a Vehicle</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>

</head>
<body>
  <div class="navbar">
  <a href="/">Home</a>
  </div>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
